#title {
  display: block;
}

#content {
  display: inline-block;
  border: 2px solid #D2738A;
  background-color: #111;
}

#inner-content {
  border: 1px solid #666;
  margin: 20px;
  padding: 30px;
}
