#title {
  display: block;
}

#content {
  display: inline-block;
  border: 2px solid #D2738A;
  background-color: #111;
}

#inner-content {
  border: 1px solid #666;
  margin: 20px;
  padding: 30px;
}

#flash-content {
  display: inline-block;
  margin-bottom: 50px;
  border: 2px solid #D2738A;
}

#player-container {
  display: inline-block;
  background-color: black;
  cursor: pointer;
  width: 300px;
}

#player-img {
  height: 300px;
}

#seekbar {
  background-color: black;
  height: 5px;
  width: 100%;
  border: 1px solid #D2738A
}

#seekbar::-moz-progress-bar {
  background-color: #D2738A;
}

#seekbar::-webkit-progress-bar {
  background-color: black;
}

#seekbar::-webkit-progress-value {
  background-color: #D2738A;

}