/*#content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -450px;
	margin-left: -300px;
}

#title {
	display: block;
}*/

.hidden {
	display: none;
}

#cnv {
	border: 2px solid #D2738A;
}
