<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/error/style.css"/>
<% end %>

<h1 id="title"><%= status %></h1>
<div id="flash-content">
  <div id="container"></div>
</div>

<script type="text/javascript" src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script type="text/javascript" src="/error/404.js"></script>