<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/error/style.css"/>
<% end %>

<h1 id="title"><%= status %></h1>
<div id="flash-content">
  <div id="container"></div>
</div>

<script src="/error/index.js"></script>
<script src="https://unpkg.com/@ruffle-rs/ruffle/"></script>