<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/error/style.css"/>
<% end %>

<h1 id="title"><%= status %></h1>
<div id="content">
  <div id="inner-content">
    <% if location == "client" %>
      <span>Client Error<br/>Have a dancing Rumia</span>
    <% else %>
      <span>Server Error<br/>Have a dancing Akarin</span>
    <% end %>
    <hr/>
    <div id="player-container" onClick="toggleAudio()" title="DANCE!!!">
      <img id="player-img" src="/img/<%= location == "client" ? "rumia" : "akarin" %>.gif"/>
      <audio id="player" src="/sound/<%= location == "client" ? "ravers_fantasy" : "boom" %>.mp3"></audio>
      <br/>
      <progress id="seekbar" value="0" max="1"></progress>
    </div>
  </div>
</div>

<script src="/home/index.js"></script>