<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/error/style.css"/>
<% end %>

<h1 id="title"><%= status %></h1>
<div id="content">
  <div id="inner-content">
    <span>Client Error<br/>Have a dancing Rumia</span>
    <hr/>
    <img src="/img/rumia_dance.gif"/>
  </div>
</div>