extends layout

block head
	link(rel='stylesheet' type='text/css' href='/flash/style.css')

block body
	ul
		li
			a(href='/') Home
		li
			a.active(href='/flash/') Flash
		li
			a(href='/rrr') RRR

	#warn_msg
		h1 Warning
		h3 This page contains flashing images
		a(onClick='showPage()') Click here to enter

	#load_msg.hidden
		h1 Loading Ruffle
		img(src='/img/PUPPYWHIRL.gif' width='125px' height='100px')

	#content.hidden
		h3#title
		#container
			#loader
		br

		each file in files
			a.flash(href='#'+file) #{file}
			|  
			a(href=file)
				img(src='/img/dl.png' width='16px' height='16px')
			br

		script(type='text/javascript' src='/flash/index.js')
		script(type='text/javascript' src='/flash/ruffle/ruffle.js')
