extends layout

block head
	link(rel='stylesheet' type='text/css' href='/home/style.css')

block body
	ul
		li
			a.active(href='/') Home
		li
			a(href='/flash/') Flash
		li
			a(href='/rrr') RRR
	#home_img
		img(src='/img/home.gif')
	script(src='/home/index.js')

