<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/home/style.css"/>
<% end %>

<div id="content">
  <div id="inner-content">
    <h2 class="header">Welcome</h2>
    <hr style="width: 75%;"/>

    <div id="player-container" onClick="toggleAudio()" title="Play Track 44">
      <img id="player-img" src="/img/home.gif"/>
      <audio id="player" src="/audio/track_44.mp3"></audio>
      <br/>
      <progress id="seekbar" value="0" max="1"></progress>
    </div>

    <p>This site is mostly just for fun, I suppose it ended up as a bit of a love letter to flash. You will find a collection of flash videos at <a href="/flash">/flash</a> and a fun little image renderer at <a href="/rrr">/rrr</a>. The image renderer was inspired by <a href="/flash#pleaseunderstand.swf">pleaseunderstand.swf</a>.</p>
    <p>You can view my 404 page <a href="/404">here</a>, it features swfchan's old "404.swf". The client error page is <a href="/cerror">here</a>, and the server error page <a href="/serror">here</a>.</p>
    <p style="font-size: 16px; color: #666;">Now time for the self-promotion section of the page.</p>
    <hr/>

    <h2 class="header">Projects</h2>
    <p>Here is a collection of my personal projects, all hosted on <a href="https://github.com/shiboka">my github</a>.</p>
    <hr style="width: 50%;"/>

    <span class="sub-header">This Website</span>
    <p>Made with Ruby and Sinatra, and a lot of Javascript. If you want to view the source for this site here it is.</p>
    <a href="https://github.com/shiboka/shiboka.com">source</a>
    <hr style="width: 50%;"/>

    <span class="sub-header">Z80 Assembler</span>
    <p>This is an assembler for the Z80 microprocessor, it's mostly finished but the code could be cleaner and I'm missing a few instructions. It will take a Z80 .asm file and assemble it into a binary, after that you would use another tool to convert it into an image for whatever Z80-based system you want to emulate it on. I convert it to a ZX Spectrum image and run it with Fuse.</p>
    <a href="https://github.com/shiboka/z80asm">source</a>
    <hr style="width: 50%;"/>

    <span class="sub-header">mankaiBBS</span>
    <p>mankaiBBS is a WIP textboard made with Ruby on Rails and Next.js. It's a bit overengineered, but the way it's designed should be very scalable and secure. The Rails portion is a simple REST API for managing Boards, Threads, and Posts, with support for Users and Roles in order to make Admins/Moderators/whatever you want. I chose Next.js for the frontend because it allows me to do server side rendering, which results in better performance and SEO, it also allows me to restrict API calls and JWT storage to the server side (http-only cookies). This way of handling authentication and API interaction results in a more secure system, as it prevents client access.</p>
    <a href="https://github.com/shiboka/mankaiBBS">source</a>
  </div>
</div>

<script type="text/javascript" src="/home/index.js"></script>