<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/0x40/style.css"/>
<% end %>

<div id="content">
  <h3 id="title">0x40 Hues</h3>
  <iframe id="hues" src="https://0x40.mon.im"></iframe>
</div>