#content {
  margin: 100px 25% 100px 25%;
  border: 2px solid #D2738A;
  color: white;
  background-color: #111;
}

#inner-content {
  border: 1px solid #666;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 16px;
}

.header {
  color: #D2738A;
}

.sub-header {
  font-size: 22px;
  font-weight: bold;
  text-decoration-line: underline;
  color: #666;
}

@media screen and (max-width: 1100px) {
  #content {
    margin: 50px 4% 100px 4%;
  }
}
