#warn-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

#load-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

#content {
  margin-bottom: 8%;
}

#container {
  margin: auto;
  background-color: black;
  border: 2px solid #D2738A;
}

#loader {
  position: relative;
  top: 45%;
}
