#msg-content {
  height: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

#warn-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#load-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  margin: auto;
  background-color: black;
  border: 2px solid #D2738A;
}

#loader {
  position: relative;
  top: 45%;
}
