extends ../layout

block head
	link(rel='stylesheet' type='text/css' href='/err/style.css')

block body
	h1#title #{status}
	pre#content
		| Come on down to the other side
		| Come with us through the gates of hell
		| We will drag you from where you are
		| To where you belong
		| 
		| Come on down to the other side
		| Come with us through the gates of hell
		| We will drag you from where you are
		| To where you belong
		| 
		| There's nothing to fear
		| Your saviors, they're here
		| The ship is coming down
		| The ship is coming down
		| The ship is coming down
		| Coming down
		| Coming down
		| 
		| You, you look so precious
		| A diamond in the rough
		| And when you try to escape
		| I'll be holding on
		| Holding on
		| Holding on
		| Holding on
		| 
		| But I can't sleep until this is done
		| They're in my head
		| They're in my soul
